DATABASE_URL=asdasdasdasdasd
REDIS_URL=asdczxcasd
APP_ENV=dssw
LOG_LEVEL=sawd

JWT_SECRET=change-me-in-production-use-32-bytes-of-randomness
JWT_ALGORITHM=sfasd
JWT_ACCESS_TTL_MINUTES=asd
JWT_REFRESH_TTL_DAYS=ascas